body {
    font-family: verdana;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*cabeçalho*/
header {
    display: flex;
    overflow: auto;
    height: 80px;
    background-color: #F4B72D;
    color: white;
    overflow: hidden;
}

.menu {
    list-style: none;
    float:inline-start; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu li a{
    color: white;
    text-decoration: none;
    padding:5px 10px; 
}

.menu-logo {
    align-items: center;
    justify-content: flex-start;
    line-height: 3px;
    padding: 10px;
}

.menu-title {
    align-items:baseline;
}

.menu-item {
    top: 1px;
    right: 10px;
    padding: 15px;
    position: absolute;
}

.site-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*CONTAINER*/
.mainContainer {
    background-color: rgba(255, 208, 0, 0.329);
    border-radius: 17px;
    width: 92%;
    height: 450px;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.formas {
    display: flex;
    align-items:flex-start;
    position: relative;
    left: 15px;
    color: black;
    font-size:smaller;
    padding-top: 20px;
}


.row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    padding-top: 5px;
}

.row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: -4.8px;
}

.itensR2{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: medium;

}

.itensR2 a {
    text-decoration: none;
}

.divider1 {
    border-bottom: 2px solid white;
    width: 20.9vh;
}

.divider2 {
    border-bottom: 2px solid #F4B72D;
    width: 20.9vh;
}

/*PADRAO*/
.check {
    background-color: rgba(255, 208, 0, 0.479);
    margin: 0 auto 0 auto;
    margin-top: 15px;
    width: 90%;
    padding: 1em;
    color: black;
    border-radius: 7.5px;
    height: 55px;
    box-shadow: 10px 5px 5px rgba(128, 128, 128, 0.219);
}

.bolinha1 {
    position: relative;
    left: 50%;
    top: 2px
}

.bolinha2 {
    position: relative;
    left: 50%;
    top: 2px
}

.bolinha3 {
    position: relative;
    left: 83%;
    top: 2px
}

.bolinha4 {
    position: relative;
    left: 70%;
    top: 2px
}

h2 {
    padding-right: 52%;
    padding-top: 9.5%;
    font-weight: bolder;
}

/*botões inferiores*/
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-top: 22%;
}

.row button {
    background-color: #A028D8;
    height: 35px;
    border: 0px;
    border-bottom: 3px black solid ;
    box-shadow: 0 0 10px grey ;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.btn1 {
    width: 100px;

}

.btn2 {
    width: 180px;
}


/*rodapé*/
footer {
    background-color: #F4B72D;
    color: white;
    list-style: none;
    overflow: hidden;
    border-top: 1px solid ;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
}

/*links rodapé*/
.menu-footer {
    list-style: none;
}

.menu-footer li a{
    float: left;
    color: white;
    text-decoration: none;
    padding:5px 10px; 
    display:block;
}

.footer-img {
    top: 1px;
    right: 10px;
    padding: 15px;
    position: absolute;
    width: 60px;
}
